# DS5

In [15]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import scipy
import geopy
import folium

## Prep

In [16]:
dtf = pd.read_csv("./directory.csv")
dtf = dtf[dtf["City"] == 'Las Vegas']
dtf = dtf[["City", 'Street Address', 'Longitude', 'Latitude']]
dtf.head()

            City                     Street Address  Longitude  Latitude
20644  Las Vegas                   4507 Flamingo Rd    -115.20     36.12
20645  Las Vegas  475 E Windmill Lane, Fashion Show    -115.15     36.04
20646  Las Vegas  3200 LAS VEGAS BLVD. S., STE 1795    -115.17     36.13
20647  Las Vegas                8350 W Cheyenne Ave    -115.28     36.22
20648  Las Vegas              3730 LAS VEGAS BLVD S    -115.18     36.11

## Der neun columns

In [18]:
dtf['Potential'] = np.random.randint(low=3, high=11, size=len(dtf))
dtf['Staff'] = dtf['Potential'].apply(lambda x: int(np.random.rand()*x)+1)
dtf['Capacity'] = dtf['Potential'] - dtf['Staff']
dtf["cost"] = np.random.choice (['high', 'medium', 'low'], size=len(dtf), p=[0.4, 0.5, 0.1])
dtf.head()

,City,Street Address,Longitude,Latitude,Potential,Staff,Capacity,cost
20644,Las Vegas,4507 Flamingo Rd,-115.20,36.12,3,1,2,high
20645,Las Vegas,"475 E Windmill Lane, Fashion Show",-115.15,36.04,4,3,1,medium
20646,Las Vegas,"3200 LAS VEGAS BLVD. S., STE 1795",-115.17,36.13,4,3,1,medium
20647,Las Vegas,8350 W Cheyenne Ave,-115.28,36.22,5,4,1,high
20648,Las Vegas,3730 LAS VEGAS BLVD S,-115.18,36.11,7,6,1,high